:root{
    --branco: rgb(240, 237, 230);
    --preto: rgb(39, 39, 39);
    --azul: rgb(88, 139, 148);
    --vermelho: rgb(189, 9, 9);
    --black: black;
}

::selection{
    background-color: var(--preto);
    color: var(--branco);
}

*{
    font-family: sans-serif;   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .conversor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: var(--branco);
    color: var(--preto);

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    justify-content: flex-start;
}

h1, .conversor{
    margin: 20px;
}

.conversor{ 
    height: 70%;
    width: 50%;

    justify-content: center;
}

.numeros{
    margin: 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.numero{
    height: 300px;
    width: 300px;

    background-color: var(--azul);
    color: var(--branco);
    font-size: 60px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.romano{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
}

input[type=text]{
    outline: 0;
    border: 0;
}

.botao{
    height: 60px;
    width: 100%;
    border: 0;

    font-size: 20px;
    background-color: var(--preto);
    color: var(--branco);
}

.botao:hover{
    cursor: pointer;
    background-color: var(--black);
}

.numero, .botao{
    padding: 10px;
}

.alerta{
    margin: 10px;
    color: var(--vermelho);
}

.oculto{
    visibility: hidden;
}